.box{
    height: 200px;
    width: 200px;
    background-color: gray;
}

.navbar{
    height: 60px;
    background-color: lightgray;
}
.space{
    height: 150px;
}
.space-2{
    height: 500px;
}
.space-3{
    height: px;
}
.box-2{
    height: 200px;
    width: 80px;
    background-color: gray;
    
}
    
    
    
    background-color: gray;
}
